body {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}
h1 h2 h3 {
  font-family: 'Raleway', sans-serif;
}
a, a:hover, a:visited {
  color: #F7931A;
  text-decoration: none;
}

blockquote {
  font-family: courier;
}

q {
  font-style: italic;
}

iframe {
  margin-left: -55px;
}
svg {
  display: block;
  margin-left: 10px;
}

figcaption {
  margin: -5px 0 0 10px;
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
/* menu css start */
.header {
	position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
	width: 99%;
	min-width: 900px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #F7931A;
	/* border-right: 10px solid #F7931A; */
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
  background-color: rgba(255, 255, 255, 1);
}

.header::after {
	content:'';
	position: absolute;
	top: -10px;
	left: -10px;
	width: 6%;
	height: 50px;
	border: 10px solid transparent;
	border-bottom: 10px solid #F7931A;
	border-left: 10px solid #F7931A;
	transition: 0.3s linear all;
}

.menu {
  font-size: 1.2em;
  color: #F7931A;
	position: absolute;
	top: 0;
	left: 64px;
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.menu > li {
	display: inline-block;
  float: left;
	padding: 14px;
	margin-left: 2px;
	transition: 0.3s linear all;
	user-select: none;
}

.menu > li:hover {
	color: #fff;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}

.menu li ul {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 50px;
}
.menu li:hover > ul {
	display:inherit;
  list-style-type: none;
}

.menu li ul li {
	width:170px;
  border-top: 0;
  border-bottom: 1px;
  border-right: 1px;
  border: left: 1px;
  border-style: solid;
  border-color: #eee;
  background-color: rgba(255, 255, 255, 1);
  padding: 13px;
  margin-left: -54px;
}
/* menu css end */

#map {
    top:0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#footer {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: absolute;
    z-index: 5;
}
#features {
    padding-bottom: 7vh;
}

#gbr .light {
    background-color: white;

}

#share {
  position: fixed;
  font-size: 24px;
  bottom: 110px;
  left: 20px;
  z-index: 6;
}

#gbr p {
  width: 50%;
  margin: auto;
  text-align: left;
}

.hidden {
    visibility: hidden;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.fully {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
}

.fully div h3 {
  font-size: 64px;
  color: #F7931A;
}

.fully div {
  opacity: 1;
  background-color: transparent;
}
.fully a {
  align: left;
}

.light {
  color: #444;
  background-color: #fafafa;
}

.dark {
  color: #fafafa;
  background-color: #444;
}

.step {
    padding-bottom: 20vh;
    /* margin-bottom: 10vh; */
    opacity: 0.4;
}
.step.fully {
  opacity: 0.95;
}
.step.active {
    opacity: 0.95;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
}

.step img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 750px) {
    .centered, .lefty, .righty, .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}
.arrow{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #F7931A;
    border-right: 5px solid #F7931A;
    transform: rotate(45deg);
    margin: -7px;
    animation: animate 3s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
.youtube {
  margin-left: 0px;
}
